{% extends 'Templates/templates.html' %}
{% load static %}
<!-- Заголовок сайта -->
{% block title %}GitHack.ru - Инструкции - Мир информационной безопасности{% endblock %}
{% block description %}GitHack.fun - Современный проект посвещенный интернет безопасности и изучению Kali Linux{% endblock %}
{% block keywords %}Интернет безопаность, kali linux, взлом, хакерство, hack tool{% endblock %}
<!-- Начало главного блока  -->
{% block content %}
    <div class="fh5co-narrow-content">
        <h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">Инструкции по внедрению</h2>
        <div class="row row-bottom-padded-md">
            {% for row in contents %}
                {% for sort in row.category.all %}
                    {% if sort.title == 'Новости' %}
                        <div class="col-md-3 col-sm-6 col-padding animate-box" data-animate-effect="fadeInLeft">
                            <div class="blog-entry">
                                <a href="{% url 'index:post-detail' row.id %}" class="blog-img"><img src="{{ row.image.url }}" class="img-responsive" style="max-width: 332px; max-height: 200px" alt="{{ row.title }}"></a>
                                <div class="desc">
                                    <h3><a href="{% url 'index:post-detail' row.id %}" style="font-size: 10px">{{ row.title|truncatechars:83 }}</a></h3>
                                    <span><small>Автор: {{ row.author }} </small> / <small> <i class="icon-comment"></i> {{ row.date }}</small></span>
                                    <p>{{ row.short_content|truncatechars:200 }}</p>
                                    <a href="{% url 'index:post-detail' row.id %}" class="lead">Читать дальше <i class="icon-arrow-right3"></i></a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
<!-- Конец главного блока  -->
